body {
  background-color: black;
  color: white;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#drum-machine {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 660px;
}


.inner-container {
  background-color: #15172b;
  position: relative;
  min-width: 38rem;
  height: 50vh;
}


.drum-pads {
  display: grid;
  grid-template: 
  "a a a"
  "a a a"
  "a a a ";
  max-width: 250px;
  grid-column: 20px;
  grid-row: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.drum-pad {
  cursor: pointer;
  position: relative;
  margin-right: 30px;
  margin-top: 30px;
  width: 100px;
  height: 80px;
  background-color: #152B39;
  font-size: 24px;
  text-align: center; /* center horizontaly the letter in his div container*/
  line-height: 80px; /* center vertically the letter in his div container*/
}

@media screen and (max-width: 767px) {
  #drum-machine {
    width: 320px;
    padding-left: 10px;
    padding-bottom: 15px;
  }
}

.display-container {
  position: relative;
  float: inline-start;
  text-align: center;
  font-size: 24px;
}