body {
  background-color: black;
  color: white;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#drum-machine {
  position: relative;
  min-height: auto;
  justify-content: center;
  align-items: center;
  max-width: 600px;
}

.inner-container {
  background-color: #15172b;
  position: relative;
  min-height: 50vh;
}

.drum-pads {
  display: grid;
  grid-template: 
  "a a a"
  "a a a"
  "a a a ";
  grid-column: 20px;
  grid-row: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.drum-pad {
  cursor: pointer;
  position: relative;
  margin-right: 30px;
  margin-top: 30px;
  width: 100px;
  height: 80px;
  background-color: #152B39;
  font-size: 24px;
  text-align: center;
  line-height: 80px;
}

.display-container {
  position: relative;
  margin: auto;
  text-align: center;
  font-size: 24px;
}



@media screen and (max-width: 425px) {
  #drum-machine {
    transform: scale(0.7);
  }
}